# https://github.com/ansible/ansible/blob/stable-2.9/examples/ansible.cfg

[defaults]
inventory         = ./inventory
ask_pass          = false
host_key_checking = false
remote_user       = ansible

[privilege_escalation]
become           = true
become_method    = sudo
become_user      = root
become_ask_pass  = false
